@charset "UTF-8";
.nav__link > a {
  transition: 0.5s;
  cursor: pointer;
}

.nav__link:hover > a {
  color: #FBFF3D;
}

.trash:hover .trash-icon > path {
  fill: #FBFF3D;
}

.trash:hover .trash__text {
  color: #FBFF3D;
}

.trash-icon > path, .trash__text {
  transition: 0.5s;
}

.trash {
  cursor: pointer;
}

.filter__element:hover {
  background: #E8EEFF;
}

.filter__element, .filter__element > * {
  transition: 0.5s;
  cursor: pointer;
}

.filter__button {
  cursor: pointer;
}

.product {
  cursor: pointer;
  transition: 0.5s;
}

.product:hover {
  background: rgb(232, 238, 255);
  border: 1px solid #819DEB;
}

.product_big:hover {
  background: rgb(255, 241, 241);
  border: 1px solid #FF3D3D;
}

.pay-link > a {
  transition: 0.5s;
}

.pay-link:hover > .trash-icon > path {
  fill: #FBFF3D;
}

.pay-link:hover > a {
  color: #FBFF3D;
}

.burger-menu {
  cursor: pointer;
}
.burger-menu .burger-icon > path {
  transition: 0.5s;
}

.burger-menu:hover > .burger-icon > path {
  fill: #FBFF3D;
}

.search {
  cursor: pointer;
}

.search > svg > path {
  transition: 0.5s;
}

.search:hover > svg > path {
  fill: #FBFF3D;
}

.h1 {
  font-size: 28px;
}

.text {
  font-size: 20px;
}

.number {
  font-size: 19px;
}

.text_small {
  font-size: 16px;
}

.description-size {
  font-size: 14px;
}

.product__title {
  font-size: 18px;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

* {
  font-family: "PT Sans" !important;
}

.primary {
  color: #FFF;
}

.secondary {
  color: #333;
}

.description {
  color: #989898;
}

.filter-color {
  color: #484848;
}

.sale-color {
  color: #FF3D3D;
}

.price-color {
  color: #325AC0;
}

.no-decoration {
  text-decoration: none;
}

@media screen and (max-width: 1300px) and (min-width: 320px) {
  .product__title {
    font-size: 20px;
  }
  .description-size {
    font-size: 16px;
  }
}
.modal {
  display: none;
}

.modal.active {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal__wrapper_filters {
  width: 240px;
  height: 320px;
  border-radius: 1px;
  background: #FFF;
  padding: 20px 18px;
  position: relative;
}
.modal__wrapper_filters .cross-icon {
  position: absolute;
  top: -27px;
  right: 0;
  cursor: pointer;
}
.modal__wrapper_filters .cross-icon > path {
  transition: 0.5s;
}
.modal__wrapper_filters .cross-icon:hover > path {
  fill: rgb(180, 180, 180);
}
.modal__wrapper_filters .modal__filters {
  display: flex;
  gap: 19px;
  flex-direction: column;
}
.modal__wrapper_filters .filter {
  width: 244px;
}
.modal__wrapper_filters .price__inputs-container {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.modal__wrapper_filters .price__inputs-container > input {
  width: 244px;
  box-sizing: border-box;
  padding-left: 150px;
}
.modal__wrapper_filters .price__inputs-container::after {
  top: calc(75% - 5px);
  left: 10px;
}
.modal__wrapper_filters .price__inputs-container::before {
  left: 10px;
  top: calc(25% - 12px);
}
.modal__wrapper_filters .modal__button {
  border-radius: 1px;
  background: #FF3D3D;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 14px 0 13px 0;
  transition: 0.5s;
  cursor: pointer;
}
.modal__wrapper_filters .modal__button:hover {
  background: #CE2929;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  background: #265C9A;
  top: 72px;
  left: 0;
}

.mobile-menu .mobile-menu__wrapper {
  margin: auto;
  padding-bottom: 16px;
}

.mobile-menu__wrapper > li {
  padding: 10px;
  border-radius: 1px;
  transition: 0.5s;
}

.mobile-menu__wrapper > li:hover {
  color: #FFF;
  background: #618CBF;
}

.mobile-menu__wrapper > li:hover > * {
  color: #fff;
}

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .mobile-menu__wrapper {
    max-width: 984px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .mobile-menu__wrapper {
    max-width: 728px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .mobile-menu__wrapper {
    max-width: 280px;
    padding: 0 20px;
  }
}
.product__img {
  width: 160px;
  height: 160px;
  padding: 7px 61px 10px 61px;
}

.product {
  display: flex;
  width: 240px;
  height: 329px;
  flex-direction: column;
  align-items: center;
  padding: 14px 20px;
  border: 0.5px solid #DEDEDE;
}

.product__title {
  align-self: flex-start;
  padding-bottom: 8px;
}

.product__text {
  font-style: normal;
  line-height: normal;
  padding-bottom: 29px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}

.product__price::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background: #8EACFC;
  top: -8px;
}

.product_big {
  flex-wrap: wrap;
  width: 521px;
  padding: 14px 20px 14px 21px;
}
.product_big .product__img {
  width: 250px;
  height: 250px;
  padding: 7px 21px 87px 0px;
}
.product_big .product__info {
  height: 100%;
  width: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px 0 4px 0;
}
.product_big .product__price::before {
  background: #FFBCBC;
}
.product_big .info__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product_big .product__price-text::before {
  content: "4 400,00 руб.";
  position: absolute;
  top: -32px;
  color: #989898;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
}

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .product__img {
    width: 164px;
    height: 164px;
    padding: 16px 66px 12px 66px;
  }
  .product {
    width: 294px;
    height: 340px;
    padding: 0 16px 19px 16px;
  }
  .product__text {
    padding-bottom: 10px;
  }
  .product_big {
    flex-wrap: wrap;
    width: 617.5px;
    height: 312px;
    padding: 31px 17px 16px 19px;
    align-items: start;
  }
  .product_big .product__img {
    width: 297px;
    height: 297px;
    padding: 0px 0 0 0;
  }
  .product_big .product__info {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 0 4px 18px;
  }
  .product_big .info__title {
    gap: 4px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .product__img {
    width: 175px;
    height: 175px;
    padding-bottom: 15px;
  }
  .product {
    width: 314px;
    height: 330px;
    padding: 17px 24px;
  }
  .product__text {
    padding-bottom: 26px;
  }
  .product_big {
    flex-wrap: wrap;
    width: 683px;
    height: 318px;
    padding: 25px 24px 16px 21px;
    align-items: start;
  }
  .product_big .product__img {
    width: 318px;
    height: 318px;
    padding: 0px 0 0 0;
  }
  .product_big .product__info {
    height: 100%;
    width: 326px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 0 4px 36px;
  }
  .product_big .info__title {
    gap: 4px;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .product__img {
    width: 169px;
    height: 169px;
  }
  .product {
    width: 244px;
    height: auto;
    padding: 20px 18px 16px 18px;
  }
  .product__text {
    padding-bottom: 23px;
  }
  .product_big {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 244px;
    height: 550px;
    padding: 22px 18px 16px 18px;
  }
  .product_big .product__img {
    width: 244px;
    height: 244px;
    padding: 0px 0 20px 0;
  }
  .product_big .product__info {
    height: 100%;
    width: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 0 4px 0;
  }
  .product_big .info__title {
    gap: 4px;
  }
}
.price__input {
  padding: 13px 11px 13px 62px;
  width: 59.5px;
  border: 1px solid #D0D0D0;
  outline: none;
  position: relative;
}

.price__inputs-container::after, .price__inputs-container::before {
  position: absolute;
  top: calc(50% - 8px);
  z-index: 1;
  color: #484848;
  font-size: 16px;
}

.price__inputs-container::before {
  content: "от";
  left: 11px;
}

.price__inputs-container::after {
  content: "до";
  left: 144px;
}

.price__inputs-container {
  display: flex;
  position: relative;
}

.search {
  display: flex;
  gap: 5px;
  position: relative;
}

.search::after {
  content: "";
  width: 281px;
  height: 1px;
  background: #517DAE;
  position: absolute;
  bottom: -2px;
}

.search__input {
  border: none;
  background: transparent;
  outline: none;
}

.search__input::placeholder {
  color: #FFF;
}

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .search::after {
    width: 697px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .search::after {
    width: 452px;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .search::after {
    display: none;
  }
  .search__input {
    display: none;
  }
  .search {
    padding-left: 40px;
  }
  .search.active {
    padding-left: 0;
  }
  .search.active::after {
    display: block;
    width: 150px;
  }
  .search.active .search__input {
    display: block;
  }
  .logo.inactive {
    display: none;
  }
}
.filter {
  width: 264px;
  position: relative;
}

.filter__button {
  padding: 14px 17px 13px 17px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #D0D0D0;
  background: #FFF;
}

.filter.active .filter__button {
  outline: none;
  border: 1px solid #D0D0D0;
  border-bottom: 1px solid transparent;
}

.filter.active::after {
  content: "";
  position: absolute;
  left: 17px;
  width: calc(100% - 34px);
  height: 1px;
  background: #D0D0D0;
  z-index: 3;
}

.filter__dropdown {
  display: none;
}

.filter__dropdown {
  width: calc(100% - 1px);
  position: absolute;
  border: 1px solid #D0D0D0;
  border-top: none;
  background: #FFF;
  padding-bottom: 7px;
  padding-top: 3px;
}
.filter__dropdown input[type=radio] {
  display: none;
}

.filter__element {
  padding: 7px 17px;
  transition: 0.5s;
}

.filter.active .filter__dropdown {
  display: block;
  border-top: none;
  z-index: 2;
}

.wrapper {
  max-width: 1128px;
  margin: auto;
  padding: 0 86px;
}

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .wrapper {
    max-width: 984px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .wrapper {
    max-width: 728px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .wrapper {
    max-width: 280px;
    padding: 0 20px;
  }
}
.filters {
  display: flex;
  gap: 14px;
  padding: 25px 0 23px 0;
}

.filters__price {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 13px;
}

.filters_mobile {
  display: none;
}

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .filters_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 14px 0;
  }
  .filters {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .filters_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 10px 0;
  }
  .filters {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .filters_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0 24px 0;
  }
  .filters {
    display: none;
  }
}
.header {
  background: #265C9A;
}

.header__wrapper {
  height: 72px;
  display: flex;
  align-items: center;
  padding-top: 1px;
  width: 100%;
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info__base {
  display: flex;
  align-items: center;
  gap: 86px;
}

.nav {
  background: hsl(213, 60%, 30%);
  height: 45px;
  padding-top: 1px;
}

.nav__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 39px;
}

.trash {
  display: flex;
  gap: 9px;
}

.pay-link .trash-icon {
  display: none;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .nav {
    display: none;
  }
  .info__base {
    gap: 41px;
  }
  .number {
    display: none;
  }
  .pay-link .trash-icon {
    display: inline;
  }
  .pay-link > a {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .nav {
    display: none;
  }
  .info__base {
    gap: 37px;
  }
  .number {
    display: none;
  }
  .pay-link .trash-icon {
    display: inline;
  }
  .pay-link > a {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .nav {
    display: none;
  }
  .info__base {
    gap: 22px;
  }
  .number {
    display: none;
  }
  .pay-link .trash-icon {
    display: inline;
  }
  .pay-link > a {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .header {
    height: 72px;
  }
}
.products__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 39px;
}

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .product:nth-child(n+9) {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .product:nth-child(n+6) {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .product:nth-child(n+4) {
    display: none;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
  overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=index.css.map */
