@charset "UTF-8";
.h1 {
  font-size: 28px;
}

.text {
  font-size: 20px;
}

.number {
  font-size: 19px;
}

.text_small {
  font-size: 16px;
}

.description-size {
  font-size: 14px;
}

.product__title {
  font-size: 18px;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

* {
  font-family: "PT Sans" !important;
}

.primary {
  color: #FFF;
}

.secondary {
  color: #333;
}

.description {
  color: #989898;
}

.filter-color {
  color: #484848;
}

.sale-color {
  color: #FF3D3D;
}

.price-color {
  color: #325AC0;
}

.no-decoration {
  text-decoration: none;
}

.product__img {
  width: 160px;
  height: 160px;
  padding: 7px 61px 10px 61px;
}

.product {
  display: flex;
  width: 240px;
  max-height: 328px;
  flex-direction: column;
  align-items: center;
  padding: 14px 20px;
  border: 0.5px solid #DEDEDE;
}

.product__title {
  align-self: flex-start;
  padding-bottom: 8px;
}

.product__text {
  font-style: normal;
  line-height: normal;
  padding-bottom: 29px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}

.product__price::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background: #8EACFC;
  top: -8px;
}

.product_big {
  flex-wrap: wrap;
  width: 520.6px;
  padding: 14px 20px 14px 21px;
}
.product_big .product__img {
  width: 250px;
  height: 250px;
  padding: 7px 21px 87px 0px;
}
.product_big .product__info {
  height: 100%;
  width: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px 0 4px 0;
}
.product_big .product__price::before {
  background: #FFBCBC;
}
.product_big .info__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.price__input {
  padding: 13px 11px 13px 62px;
  width: 59.5px;
  border: 1px solid #D0D0D0;
  outline: none;
  position: relative;
}

.price__inputs-container::after, .price__inputs-container::before {
  position: absolute;
  top: calc(50% - 8px);
  z-index: 1;
  color: #484848;
  font-size: 16px;
}

.price__inputs-container::before {
  content: "от";
  left: 11px;
}

.price__inputs-container::after {
  content: "до";
  left: 144px;
}

.price__inputs-container {
  display: flex;
  position: relative;
}

.search {
  display: flex;
  gap: 5px;
  position: relative;
}

.search::after {
  content: "";
  width: 281px;
  height: 1px;
  background: #517DAE;
  position: absolute;
  bottom: -2px;
}

.search__input {
  border: none;
  background: transparent;
  outline: none;
}

.search__input::placeholder {
  color: #FFF;
}

.filter {
  width: 264px;
  position: relative;
}

.filter__button {
  padding: 14px 17px 13px 17px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #D0D0D0;
  background: #FFF;
}

.filter.active .filter__button {
  outline: none;
  border: 1px solid #D0D0D0;
  border-bottom: 1px solid transparent;
}

.filter.active::after {
  content: "";
  position: absolute;
  left: 17px;
  width: calc(100% - 34px);
  height: 1px;
  background: #D0D0D0;
  z-index: 3;
}

.filter__dropdown {
  display: none;
}

.filter__dropdown {
  width: calc(100% - 1px);
  position: absolute;
  border: 1px solid #D0D0D0;
  border-top: none;
  background: #FFF;
  padding-bottom: 7px;
  padding-top: 3px;
}
.filter__dropdown input[type=radio] {
  display: none;
}

.filter__element {
  padding: 7px 17px;
  transition: 0.5s;
}

.filter__element:hover {
  background: #E8EEFF;
}

.filter.active .filter__dropdown {
  display: block;
  border-top: none;
  z-index: 2;
}

.wrapper {
  max-width: 1128px;
  margin: auto;
  padding: 0 86px;
}

.filters {
  display: flex;
  gap: 14px;
  padding: 25px 0 23px 0;
}

.filters__price {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 13px;
}

.header {
  background: #265C9A;
}

.header__info {
  display: flex;
  padding: 21px 0;
  justify-content: space-between;
  align-items: center;
}

.info__base {
  display: flex;
  align-items: center;
  gap: 86px;
}

.nav {
  background: hsl(213, 60%, 30%);
  padding: 13px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 39px;
}

.products__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 39px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=index.css.map */
