.product__img {
  width: 160px;
  height: 160px;
  padding: 7px 61px 10px 61px;
}

.product {
  display: flex;
  width: 240px;
  height: 329px;
  flex-direction: column;
  align-items: center;
  padding: 14px 20px;
  border: 0.5px solid #DEDEDE;
}

.product__title {
  align-self: flex-start;
  padding-bottom: 8px;
}

.product__text {
  font-style: normal;
  line-height: normal;
  padding-bottom: 29px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}

.product__price::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background: #8EACFC;
  top: -8px;
}

.product_big {
  flex-wrap: wrap;
  width: 521px;
  padding: 14px 20px 14px 21px;
  .product__img {
    width: 250px;
    height: 250px;
    padding: 7px 21px 87px 0px;
  }
  .product__info {
    height: 100%;
    width: 252px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px 0 4px 0;
  }
  .product__price::before {
    background: #FFBCBC;
  }
  .info__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .product__price-text::before {
    content: "4 400,00 руб.";
    position: absolute;
    top: -32px;
    color: #989898;
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: line-through;
  }
}

@media screen and (max-width: $desktop-width) and (min-width: $tablet-big-width) {
  .product__img {
    width: 164px;
    height: 164px;
    padding: 16px 66px 12px 66px;
  }
  .product {
    width: 294px;
    height: 340px;
    padding: 0 16px 19px 16px;
  }
  .product__text {
    padding-bottom: 10px;
  } 
  .product_big {
    flex-wrap: wrap;
    width: 617.5px;
    height: 312px;
    padding: 31px 17px 16px 19px;
    align-items: start;
    .product__img {
      width: 297px;
      height: 297px;
      padding: 0px 0 0 0;
    }
    .product__info {
      height: 100%;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2px 0 4px 18px;
    }
    .info__title {
      gap: 4px;
    }
  }
}

@media screen and (max-width: $tablet-big-width) and (min-width: $tablet-small-width) {
  .product__img {
    width: 175px;
    height: 175px;
    padding-bottom: 15px;
  }
  .product {
    width: 314px;
    height: 330px;
    padding: 17px 24px;
  }
  .product__text {
    padding-bottom: 26px;
  } 
  .product_big {
    flex-wrap: wrap;
    width: 683px;
    height: 318px;
    padding: 25px 24px 16px 21px;
    align-items: start;
    .product__img {
      width: 318px;
      height: 318px;
      padding: 0px 0 0 0;
    }
    .product__info {
      height: 100%;
      width: 326px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2px 0 4px 36px;
    }
    .info__title {
      gap: 4px;
    }
  } 
}

@media screen and (max-width: $tablet-small-width) and (min-width: $phone-width) {
  .product__img {
    width: 169px;
    height: 169px;
  }
  .product {
    width: 244px;
    height: auto;
    padding: 20px 18px 16px 18px;
  }
  .product__text {
    padding-bottom: 23px;
  } 
  .product_big {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 244px;
    height: 550px;
    padding: 22px 18px 16px 18px;
    .product__img {
      width: 244px;
      height: 244px;
      padding: 0px 0 20px 0;
    }
    .product__info {
      height: 100%;
      width: 244px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2px 0 4px 0;
    }
    .info__title {
      gap: 4px;
    }
  } 
}