.search {
  display: flex;
  gap: 5px;
  position: relative;
}

.search::after {
  content: '';
  width: 281px;
  height: 1px;
  background: #517DAE;
  position: absolute;
  bottom: -2px;
}

.search__input {
  border: none;
  background: transparent;
  outline: none;
}

.search__input::placeholder{
  color: $font-primary-color;
}

@media screen and (max-width: $desktop-width) and (min-width: $tablet-big-width) {
  .search::after {
    width: 697px;
  }
}

@media screen and (max-width: $tablet-big-width) and (min-width: $tablet-small-width) {
  .search::after {
    width: 452px;
  }
}