.wrapper {
  max-width: calc($desktop-width - 86px * 2);
  margin: auto;
  padding: 0 86px;
}

@media screen and (max-width: $desktop-width) and (min-width: $tablet-big-width) {
  .wrapper {
    max-width: calc($tablet-big-width - 20px * 2);
    padding: 0 20px;
  }
}

@media screen and (max-width: $tablet-big-width) and (min-width: $tablet-small-width) {
  .wrapper {
    max-width: calc($tablet-small-width - 20px * 2);
    padding: 0 20px;
  }
}

@media screen and (max-width: $tablet-small-width) and (min-width: $phone-width) {
  .wrapper {
    max-width: calc($phone-width - 20px * 2);
    padding: 0 20px;
  }
}