.filters {
  display: flex;  
  gap: 14px;
  padding: 25px 0 23px 0;
}

.filters__price {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 13px;
}

.filters_mobile {
  display: none;
}

@media screen and (max-width: $desktop-width) and (min-width: $tablet-big-width) {
  .filters_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 14px 0;
  }
  .filters {
    display: none;
  }
}

@media screen and (max-width: $tablet-big-width) and (min-width: $tablet-small-width) {
  .filters_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 10px 0;
  }
  .filters {
    display: none;
  }
 }

 @media screen and (max-width: $tablet-small-width) and (min-width: $phone-width) {
  .filters_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0 24px 0;
  }
  .filters {
    display: none;
  }
 }