.header {
  background: $primary-color;
}

.header__wrapper {
  height: 72px;
  display: flex;
  align-items: center;
  padding-top: 1px;
  width: 100%;
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info__base {
  display: flex;
  align-items: center;
  gap: 86px;
}

.nav {
  background: $secondary-color;
  height: 45px;
  padding-top: 1px;
}

.nav__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 39px;
}

.trash {
  display: flex;
  gap: 9px;
}

.pay-link .trash-icon {
  display: none;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: $desktop-width) and (min-width: $tablet-big-width) {
  .nav {
    display: none;
  }
  .info__base {
    gap: 41px;
  }
  .number {
    display: none;
  }
  .pay-link .trash-icon {
    display: inline;
  }
  .pay-link > a {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}

@media screen and (max-width: $tablet-big-width) and (min-width: $tablet-small-width) {
  .nav {
    display: none;
  }
  .info__base {
    gap: 37px;
  }
  .number {
    display: none;
  }
  .pay-link .trash-icon {
    display: inline;
  }
  .pay-link > a {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}

@media screen and (max-width: $tablet-small-width) and (min-width: $phone-width) {
  .nav {
    display: none;
  }
  .info__base {
    gap: 22px;
  }
  .number {
    display: none;
  }
  .pay-link .trash-icon {
    display: inline;
  }
  .pay-link > a {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .header {
    height: 72px;
  }
}