$primary-color: #265C9A;
$secondary-color: #1F497B;
$text-color:#FFF;
$price-color: #325AC0;
$price-sale-color: #FF3D3D;
$text-hover-color: #FBFF3D;
$product-hover-bg-color: rgba(50, 90, 192, 1);
$product-sale-hover-bg-color: rgba(255, 61, 61, 1);
$product-hover-border-color: #819DEB;
$product-sale-hover-border-color: #FF3D3D;
$menu-hover-color: #618CBF;
$select-hover-color: #E8EEFF;

$font-family: 'PT Sans';

$desktop-width: 1300px;
$tablet-big-width: 1024px;
$tablet-small-width: 768px;
$phone-width: 320px;
